<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TITLE</key>
		<string>薬膳における糖質ダイエットとは？</string>
		<key>TEXT1</key>
		<string>まず、痩せるために必要なことは、「余分な脂肪を減らす＝脂肪をエネルギーとして消費すること」だと理解しましょう。</string>
		<key>TEXT2</key>
		<string>そのために最も効果があると考えられているのが、糖質オフダイエットです。最近は、お酒やスイーツに至るまで「糖質オフ」と書かれた商品を目にしますね。でも、どうして糖質を抑えることがダイエットにつながるのか、皆さんは知っていますか？</string>
		<key>TEXT3</key>
		<string>糖質は脂肪よりも体のエネルギーとして吸収されやすい栄養成分です。その為、飲食によって糖質を摂取すると、体はまず糖質をエネルギーとして吸収します。もし、糖質だけで体に必要なエネルギーを補えてしまったら、体の中の脂肪はそのまま残ってしまうのです。これが太ってしまう原因、ダイエットがなかなか成功しない大きな原因のひとつです。</string>
		<key>TEXT4</key>
		<string>逆に、もし糖質を全く摂取しなかったら、体は脂肪をエネルギーとしてどんどん吸収します。ほとんど何も食べないような無理なダイエットとは違い、糖質オフダイエットは体に必要なエネルギーや栄養素をしっかり摂りながら、健康的に理想の体型を手に入れることができるダイエット法なのです。さらに、ご紹介するレシピは糖質オフに加えて、中医学の理論に基づき、食材の力も使ってダイエット効果が高まるように作っています。ダイエット以外にも肌を潤わせたり、代謝をよくしたりと、美容にも効果的です♪難しい生薬を使うものではなく、身近な食材で作れるレシピばかりの簡単な糖質オフの家庭薬膳料理なのです。</string>
		<key>TEXT5</key>
		<string>糖質を減らしつつ、自分の体に合った食事で美味しくダイエットすることができます！まずは1週間、糖質オフダイエットを続けてみませんか？体の中からの変化がわかることでしょう！</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>炭水化物を抜いたらお腹がすかない？</string>
		<key>TEXT1</key>
		<string>炭水化物とは、お米、パンなどの穀物類やイモ類に多く含まれている栄養素のことで、多くの糖質が含まれています。ですので、ダイエットを目指すならば、炭水化物の摂取は控えた方よいでしょう。</string>
		<key>TEXT2</key>
		<string>ただ、主食であるお米やパンなどを抜いたらお腹がすかないか不安になりますよね。そこで、炭水化物を抜いてもお腹いっぱいになるおすすめの食材やコツをご紹介します！</string>
		<key>TEXT3</key>
		<string>まず、一般のダイエットでは食べないことが多いチーズ。チーズの主成分はたんぱく質で、糖質量が少ない食材です。腸を潤して便秘の改善にも働くという効能もあります。おすすめはカロリーも少ないカッテージチーズを使用した「アボカドとくるみのカッテージチーズ和え」。アボカドとくるみで美肌にも効果があり、もう１品欲しい時に簡単に作れるおすすめレシピです。</string>
		<key>TEXT4</key>
		<string>次に卵です。糖質量が少ない上に、良質のたんぱく質を含み、ビタミンも豊富で栄養バランスの優れた食材です。アプリでご紹介している「鶏肉とブロッコリーのこんがり豆乳グラタン」は、ダイエットだけでなく、肌の潤いアップにも効果が期待できて、ボリュームも十分です。</string>
		<key>TEXT5</key>
		<string>最後はヨーグルトでボリュームアップです。栄養価が高い上に、プレーンタイプならば糖質量は100gあたり4.9gと少なめです。朝ごはんやデザートでそのままいただくだけではもったいないですよ。「スズキのグリル　きゅうりヨーグルトソース」では、きゅうりとヨーグルトを合わせたヨーグルトソースを使用しています。胃の働きを整えて代謝をよくする１品。このソースは白身の魚だけでなく、鶏肉を使った料理にもおすすめです。</string>
		<key>TEXT6</key>
		<string>これらの食材を上手に使用して、楽しく美味しいダイエットを続けていきましょう！</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>肥満のタイプについて</string>
		<key>TEXT1</key>
		<string>一人ひとりの体に合った食材や、目的を持った食材をいただくことが大きな特徴の薬膳。糖質オフダイエットを行うにあたり、糖質量を減らすだけではなく、自分の体質に合った食材をチョイスすることが大切です。ここでは、2つの肥満タイプに分けて代表的な症状を挙げてみました。

あなたはどちらのタイプでしょうか？</string>
		<key>HEADER1</key>
		<string>≪カチカチ型堅太りタイプ≫</string>
		<key>TEXT2</key>
		<string>このタイプの人は普段から活発で、食欲旺盛、がっちりした体型という傾向にあります。
そして、</string>
		<key>POINTS1</key>
		<array>
			<string>代謝が悪くなって余分な水分や脂肪が溜まっている状態の痰湿(たんしつ)型</string>
			<string>体の機能が強く働きすぎて体の中に熱が溜まり、それがオーバーヒートしている状態の胃熱(いねつ)型</string>
			<string>消化器系の働きの乱れが原因の便秘型</string>
		</array>
		<key>TEXT3</key>
		<string>の3つに分けられます。</string>
		<key>TEXT4</key>
		<string>これらは、長年の食べすぎ、甘いものや脂っこいものばかりの偏食により、消化器系全体の働きである「脾(ひ)」の機能が乱れてしまったことが大きな原因です。その結果、体に不要なものが溜まり、肥満につながってしまっています。他にもこの体質は、むくみや肩こり、めまい、ニキビなどの症状があらわれやすい傾向にあります。</string>
		<key>HEADER2</key>
		<string>≪ぷよぷよ型水太りタイプ≫</string>
		<key>TEXT5</key>
		<string>このタイプの人は基本的に消極的で、筋肉がしっかりついている体ではないため、比較的色白で、水太りのようにぷよぷよっとした体型が多い傾向にあります。
そして、</string>
		<key>POINTS2</key>
		<array>
			<string>体のエネルギーである「気(き)」が不足している状態の気虚(ききょ)型</string>
			<string>温める力が足りず、冷えやすくなっているために代謝が悪くなっている状態の陽虚(ようきょ)型</string>
			<string>「気(き)」や「血(けつ)」の巡りが滞っていることなどが原因の水分代謝低下型</string>
		</array>
		<key>TEXT6</key>
		<string>の3つに分けられます。</string>
		<key>TEXT7</key>
		<string>いずれも、体を構成する五臓のひとつである「脾(ひ)」の機能の原動力である「気(き)」や体を温める力が不足し、水分などの代謝がうまくいかないことが原因で、余分なものが体に溜まってしまい肥満になっています。
さらに、「気(き)」の不足によって、だるい、疲れやすい、風邪をひきやすい、食欲不振などの症状があらわれ、体を温める力の不足によって、冷え性の症状もあらわれてしまいます。</string>
		<key>TEXT8</key>
		<string>まずは、体質診断で自分の肥満タイプを把握した上で、糖質オフダイエットに臨みましょう。</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>カチカチ型堅太りタイプのダイエット</string>
		<key>TEXT1</key>
		<string>カチカチ型堅太りタイプのダイエットのポイントは、</string>
		<key>HEADER1</key>
		<string>①体の中の熱を冷ます</string>
		<key>HEADER2</key>
		<string>②体の中の余分な水分や老廃物を取り除く</string>
		<key>TEXT2</key>
		<string>の２つが大切です。</string>
		<key>HEADER3</key>
		<string>①体の熱を冷ます</string>
		<key>TEXT3</key>
		<string>脂っこいものや揚げものなどをたくさん摂ると、体に余分な熱が溜まってしまいます。ストレスや暴飲暴食からも、体の機能をオーバーヒートさせてしまうことがあります。そこで、体内に溜まっている余分な熱を冷ます食材のきゅうり、豆腐、ゴーヤなどを摂ることで、「胃(い)」の機能を正常にさせましょう。 また、「脾(ひ)」の機能も正常にさせるので、消化器系の働きをよくして、便秘の改善にも役立ちます。</string>
		<key>HEADER4</key>
		<string>②体の中の余分な老廃物を取り除く</string>
		<key>TEXT4</key>
		<string>体の中の「水(すい)」の巡りが悪く、「痰(たん)」と呼ばれる老廃物が体内に溜まってしまうと、水分代謝が悪くてむくみがちになります。消化吸収をよくし、余分な水分や老廃物を排出して、その巡りをよくすることが大切です。食事も野菜中心のさっぱりとしたものを摂るように心がけ、体の中の余分な水分や老廃物を排出する食材であるアサリ、冬瓜などを積極的に摂り、むくみ、肥満の解消を目指しましょう。</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>ぷよぷよ型水太りタイプのダイエット</string>
		<key>TEXT1</key>
		<string>ぷよぷよ型水太りタイプのダイエットのポイントは、</string>
		<key>HEADER1</key>
		<string>①不足している「気(き)」を補う</string>
		<key>HEADER2</key>
		<string>②体を温める</string>
		<key>TEXT2</key>
		<string>の２つが大切です。</string>
		<key>HEADER3</key>
		<string>①不足している「気(き)」を補う</string>
		<key>TEXT3</key>
		<string>「気(き)」が不足すると、消化機能が弱まり、代謝が衰え、余分なものが体に溜まって肥満につながります。それを解消するため、「気(き)」を補って消化機能を高める食材を選びましょう。キノコ類や大豆、生薬ではなつめなどの「気(き)」を補って胃腸の働きを整える食材がおすすめです。「気(き)」の巡りをよくすると、水分代謝も活発になり、肥満の改善に役立ちます。</string>
		<key>HEADER4</key>
		<string>②体を温める</string>
		<key>TEXT4</key>
		<string>冷たいものばかりの食生活が原因で体が冷えてしまう場合があります。また、疲れや消化機能の低下によっても、体を温める力が弱まってしまいます。体を温める効果のある、しょうがや長ねぎ、ニラなどを温かくしていただきましょう。温かくしていただくことで、食材の持つ、体を温める力もアップします。肉類では、羊肉は体を温める力が強く、鶏肉は体を元気にしながらお腹を温めてくれるといった働きが期待できます。</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>お酒を飲みたいときには？</string>
		<key>TEXT1</key>
		<string>一般的なダイエット方法と違い、糖質オフダイエットでは糖質量の少ないお酒を禁止していません。ダイエットをしたくても、お酒を抜くのは辛いな。といったお酒好きの方には嬉しいですよね。</string>
		<key>TEXT2</key>
		<string>ただ、種類によっては糖質を多く含むものがあるので、正しい選び方、飲み方をマスターしましょう。</string>
		<key>TEXT3</key>
		<string>まず、飲んでもよいお酒は、蒸留酒です。
            
蒸留酒とは焼酎やウイスキー、ブランデー、ウォッカなどで、糖質が含まれていません。反対に、醸造酒であるビール、日本酒、紹興酒、ジュースを使ったカクテルは糖質量が多いので控えましょう。赤ワインは醸造酒ですが、糖質量が少ないためＯＫでしょう。白ワインも、辛口をチョイスして少量ならよいでしょう。</string>
		<key>TEXT4</key>
		<string>また、最近はスーパーやコンビニでよくみかける、「糖質オフ」や「糖質ゼロ」と表示されている発泡酒も問題ありません。</string>
		<key>TEXT5</key>
		<string>次に、お酒と一緒にいただくおつまみも注意してセレクトしましょう。身近な食材の中では、糖質が少なく、「気(き)」を補って便通もよくする働きがあるアボカド、体を温めて冷えを緩和するくるみ、五臓に働いて体力をつける卵、食物繊維が多くヘルシーなきのこ類などがおすすめです。</string>
		<key>TEXT6</key>
		<string>適度にお酒をいただき、ストレスを溜めないこともダイエットには大切なことです。ただし、くれぐれも飲み過ぎには注意しましょう。</string>
		<key>HEADER1</key>
		<string>≪代表的なアルコールの糖質量/カロリー≫</string>
		<key>TEXT7</key>
		<string>ビール（1缶350ml）10.9g/193kcal
日本酒（1合）8.1g/193kcal
焼酎甲類（1合）0.0g/371kcal
焼酎乙類（1合）0.0g/263kcal
ウイスキー（1杯）0.0g/71kcal
赤ワイン（ワイングラス1杯）1.5g/73kcal
白ワイン（ワイングラス1杯）2.0g/73kcal</string>
	</dict>
</array>
</plist>
