<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SECTION</key>
		<string>生薬</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>金針菜</string>
				<key>RUBY</key>
				<string>（きんしんさい）</string>
				<key>CONTENTS</key>
				<string>金針菜（きんしんさい）は、ユリ科のカンゾウという植物の開花直前のつぼみを蒸して乾燥させた生薬です。体の熱を冷まし、むくみなどを取り除き、胃の働きを整える働きがあり、ダイエットにおすすめです。
【糖質量　100gあたり3.3g　】</string>
				<key>PHOTO</key>
				<string>so110215_9998.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ketsumeishi</string>
				<key>RELATED</key>
				<array>
					<integer>20</integer>
					<string>43</string>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>陳皮</string>
				<key>RUBY</key>
				<string>（ちんぴ）</string>
				<key>CONTENTS</key>
				<string>温州みかんの果皮を乾燥させた生薬です。「気(き)」の巡りをよくし､胃腸の働きを整えます。デトックス作用を促して代謝を高め、消化促進や冷えの改善にも働きます。みかん自体の糖質量は100gあたり11gと高めですが、陳皮にはほとんど含まれませんので、安心して利用できます。
【糖質量　100gあたり0.9g　】</string>
				<key>PHOTO</key>
				<string>sozai-2274.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_tochu</string>
				<key>RELATED</key>
				<array>
					<integer>28</integer>
					<string>43</string>
					<string>55</string>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>松の実</string>
				<key>RUBY</key>
				<string>（まつのみ）</string>
				<key>CONTENTS</key>
				<string>松の実は体の中の乾燥を潤すので、通便作用があるとされるほか、肌や髪の毛を美しく保つ効果もあります。全体的に糖質量の多いナッツ類の中で、松の実は糖質が非常に少ないのも特長です。
【糖質量　100gあたり1.2g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9586.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_chinpi</string>
				<key>RELATED</key>
				<array>
					<integer>15</integer>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>一般食材</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>キャベツ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>キャベツは胃腸の消化吸収を促進して体力を高め、体の弱りや疲れを改善します。胃腸を強くすると体内に余分な脂肪を溜めることがありません。また、胃の粘膜を守る働きがあり、胃痛や食欲不振にも効果的です。
【糖質量　100gあたり3.4g　】</string>
				<key>PHOTO</key>
				<string>sozai-01-8119.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>1</integer>
					<integer>12</integer>
					<integer>41</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>しいたけ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>しいたけは、五臓の要である「脾(ひ)」を健やかにする「健脾（けんぴ）」という効能があります。胃腸の働きを整え、コレステロール値を下げて、動脈硬化や免疫力強化に働きます。気力のない人や、胃の消化力が弱いタイプの人のダイエットによい食材とされています。
【糖質量　100gあたり1.5g　】</string>
				<key>PHOTO</key>
				<string>sozai_20-0317.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>5</integer>
					<integer>35</integer>
					<integer>36</integer>
					<integer>42</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>大根</string>
				<key>RUBY</key>
				<string>（だいこん）</string>
				<key>CONTENTS</key>
				<string>胃熱(いねつ)といわれる胃腸機能のオーバーヒート状態は過食の原因となります。さらに、胃熱の状態が続くと、栄養物質の代謝がうまくいかず、肥満につながることがあります。大根は消化を促進して、胃熱を改善してくれます。さっぱりとした味付けでいただきましょう。
【糖質量　100gあたり2.7g　】</string>
				<key>PHOTO</key>
				<string>sozai24-0650.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>34</integer>
					<integer>41</integer>
					<integer>55</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>かぶ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>かぶは「気(き)」の巡りをよくして胃腸を温めます。消化作用に優れて便秘を改善するので、体内に余分なものが蓄積するのを抑えて肥満を防ぎます。葉の部分も糖質量が100gあたり1.0gと低いので、さっと和えていただくなど、余すことなく使いましょう。
【糖質量　100gあたり3.2g　】</string>
				<key>PHOTO</key>
				<string>sozai02-8120.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>2</integer>
					<integer>23</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>豚肉</string>
				<key>RUBY</key>
				<string>（ぶたにく）</string>
				<key>CONTENTS</key>
				<string>豚肉は「気(き)」、「血(けつ)」を補います。体に潤いを与え、腸を潤して便秘の改善に役立ちます。また、スタミナをつける働きもあるので虚弱体質の体質改善にも効果があります。さらに、100gあたりの糖質量は1g未満と非常に少ないのも特長です。
【糖質量　100gあたり0.4g　】</string>
				<key>PHOTO</key>
				<string>re100511-1906.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>7</integer>
					<integer>11</integer>
					<integer>14</integer>
					<integer>16</integer>
					<integer>19</integer>
					<integer>28</integer>
					<integer>52</integer>
					<integer>55</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>卵</string>
				<key>RUBY</key>
				<string>（たまご）</string>
				<key>CONTENTS</key>
				<string>卵は体を潤して、全身に栄養を与えてくれます。「血(けつ)」を養って精神の安定にもよく、イライラや不眠の解消にも働きます。また、豊富なたんぱく質には、必須アミノ酸がバランスよく含まれており、消化吸収もよいので、糖質オフダイエットには欠かせない食材といえます。
【糖質量　100gあたり0.4g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9645.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>7</integer>
					<integer>19</integer>
					<integer>21</integer>
					<integer>24</integer>
					<integer>26</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>しょうが</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>しょうがは新陳代謝を高めて体を温め、胃の調子を整えて冷えの改善に働くため、体が冷えてしまって脂肪を燃焼できないタイプの方のダイエットにおすすめです。さらに、水分代謝をよくして利尿作用もあるので、むくみが気になる人にもよいでしょう。
【糖質量　100gあたり5.0g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9926.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>1</integer>
					<integer>13</integer>
					<integer>19</integer>
					<integer>20</integer>
					<integer>27</integer>
					<integer>30</integer>
					<integer>47</integer>
					<integer>48</integer>
					<integer>51</integer>
					<integer>55</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>ピーマン</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>ピーマンは体を温めて消化を促し、体内に溜まった老廃物を取り除く作用があります。また、「肝(かん)」に働いて「気(き)」の巡りをよくし、イライラの解消にも役立つため、ストレス太りが気になる人にもおすすめです。
【糖質量　100gあたり2.7g　】</string>
				<key>PHOTO</key>
				<string>so120220-5677.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>10</integer>
					<integer>20</integer>
					<integer>35</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>鶏肉</string>
				<key>RUBY</key>
				<string>（とりにく）</string>
				<key>CONTENTS</key>
				<string>鶏肉は、お腹を温めて胃腸の消化機能を強くし、気力や体力をつけてくれます。特に脂肪分の少ないささみは、高たんぱく質、低カロリーの健康食品でダイエットにおすすめです。鶏肉全体で見ても、糖質はほとんど含まれていないため、動物性の食事を摂りたいときに重宝します。
【糖質量　100gあたり0.4g　】</string>
				<key>PHOTO</key>
				<string>re100511-1912.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>26</integer>
					<integer>29</integer>
					<integer>31</integer>
					<integer>47</integer>
					<integer>48</integer>
					<integer>51</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>アボカド</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>アボカドは「気(き)」を補って疲労回復に役立ち、新陳代謝をよくします。また、食物繊維が豊富で便秘解消効果も期待できます。他にはコレステロールを低下させる作用があり、低糖質でもあるため、糖質オフダイエットによい食材です。
【糖質量　100gあたり0.9g　】</string>
				<key>PHOTO</key>
				<string>sozai-6502.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>37</integer>
					<integer>40</integer>
					<integer>46</integer>
					<integer>54</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>エビ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>エビは「肺(はい)」と「腎(じん)」の働きをよくしてスタミナをつけてくれます。体を温めて代謝を促進し、冷えの改善や老廃物を体外へ排出させるデトックス効果があります。また、カルシウムも豊富で、食欲不振や体力回復にも働きます。糖質量0.0gのエビは糖質オフダイエットには積極的に取り入れたい食材です。
【糖質量　100gあたり0.0g　】</string>
				<key>PHOTO</key>
				<string>so111017-0474.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>23</integer>
					<integer>27</integer>
					<integer>45</integer>
					<integer>46</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>玉ねぎ</string>
				<key>RUBY</key>
				<string>（たまねぎ）</string>
				<key>CONTENTS</key>
				<string>玉ねぎは、「気(き)」の巡りをよくし、胃腸の働きを強めて消化吸収をスムーズにします。消化不良からくる胃もたれ、お腹の張り、下痢などに有効です。体内に溜まった老廃物を取ることにより、ダイエットに役立ちます。
【糖質量　100gあたり7.2g　】</string>
				<key>PHOTO</key>
				<string>sozai03-8131.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>26</integer>
					<integer>40</integer>
					<integer>46</integer>
					<integer>53</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>豆腐</string>
				<key>RUBY</key>
				<string>（とうふ）</string>
				<key>CONTENTS</key>
				<string>豆腐は、良質のたんぱく質とカルシウム、カリウム、鉄などのミネラル類とビタミンB1など大豆成分が豊富なうえ、消化もよい食材です。体に溜まった熱を冷まし、体を潤すので、便秘の解消や肥満防止に働きます｡また、「気(き)」を補って胃腸の機能を整える作用もあり、食欲不振のときにもおすすめです。
【糖質量　100gあたり　木綿1.2g　絹ごし1.7g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9898.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>13</integer>
					<integer>22</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>冬瓜</string>
				<key>RUBY</key>
				<string>（とうがん）</string>
				<key>CONTENTS</key>
				<string>冬瓜は体の熱を冷まし、余分な水分を排出してむくみに働きます。利尿作用だけではなく、体全体の水分代謝を整えます。低カロリーかつ低糖質のため、糖質オフダイエットにはおすすめの食材です。
【糖質量　100gあたり2.5g　】</string>
				<key>PHOTO</key>
				<string>so120220-5816.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>22</integer>
					<integer>31</integer>
					<integer>32</integer>
					<integer>33</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>トマト</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>トマトは体の余分な熱を取り、胃を潤します。胃腸の働きを助けながら老廃物の排出に役立ち、デトックス効果があるため、ダイエットによい食材です。血液を増やし、肝臓のコレステロールを減らして、血管を強化します。また、疲労回復にも働きます。
【糖質量　100gあたり3.7g　】</string>
				<key>PHOTO</key>
				<string>sozai-4753.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>7</integer>
					<integer>21</integer>
					<integer>25</integer>
					<integer>42</integer>
					<integer>54</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>アサリ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>アサリは体の熱を取り除き、水分の代謝をよくして咳や痰などを改善してくれます。さらに余分な水分を尿から排出する利尿作用があり、むくみや下痢などに効果が期待でき、水太りの方のダイエットによい食材です。また、イライラを鎮める働きもあります。
【糖質量　100gあたり0.4g　】</string>
				<key>PHOTO</key>
				<string>sozai-6214.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>4</integer>
					<integer>53</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>ブロッコリー</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>ブロッコリーは胃腸の働きを強め、消化吸収をよくします。そして「腎(じん)」の働きをよくし、水分代謝を順調にさせて水太りの抑止に効果があります。また、βカロテンやビタミンが豊富で、ダイエットと一緒に美容にも気をつけたい方におすすめの食材です。
【糖質量　100gあたり0.8g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9783.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>3</integer>
					<integer>26</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>くるみ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>くるみは体を温めて冷えを緩和します。体を温めて臓腑の機能をよくし、水分代謝をよくすることにより、水太りの改善に役立ちます。胃腸を潤す働きがあるので、便秘の改善にもよいでしょう。
【糖質量　100gあたり4.2g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9607.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>44</integer>
					<integer>54</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>小松菜</string>
				<key>RUBY</key>
				<string>（こまつな）</string>
				<key>CONTENTS</key>
				<string>小松菜は体を温めて冷えを取り除きます。「肝(かん)」に働いて、血行をよくし、イライラの改善に働きます。また、体を潤して消化を助けるので、便秘タイプのダイエットによいでしょう。カルシウムが多く含まれ、他の葉野菜に比べて熱に強く、調理しても栄養価が失われにくいのも特徴のひとつです。
【糖質量　100gあたり0.5g　】</string>
				<key>PHOTO</key>
				<string>sozai100414_9887.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>6</integer>
					<integer>11</integer>
					<integer>55</integer>
				</array>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>サケ</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>サケはお腹を温めて「気(き)」の巡りをよくし、冷えを取り除きます。水分代謝をよくするので、むくみがちな方のダイエットに役立ちます。生鮭、塩鮭ともに糖質量は非常に少ないので、料理に合わせて自由に使い分けましょう。
【糖質量　100gあたり0.1g　】</string>
				<key>PHOTO</key>
				<string>so110830_4282.jpg</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ebi</string>
				<key>RELATED</key>
				<array>
					<integer>17</integer>
					<integer>24</integer>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
