<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEXT1</key>
	<string>このアプリは薬膳レシピアプリシリーズを展開するインフォコム株式会社が提供しています。</string>
	<key>TEXT2</key>
	<string>本アプリに収録しているレシピは、レシピ開発及び監修・和快、本草薬膳学院、公認・日本国際薬膳師会による、スリムな体になるための糖質オフ及び薬膳食材を使った糖質オフダイエットレシピ55点をお届けしています。</string>
	<key>TEXT3</key>
	<string>また、皆さんの体を、体の中から健康的にスリムにするための体質診断や、糖質オフダイエットについて知っておきたい情報満載の薬膳コラム、食材辞典、薬膳辞典などのコンテンツも多数収録し、中医学の理論に基づき、食からスリムになることを目指しています。</string>
	<key>TITLE0</key>
	<string>アプリの使い方</string>
	<key>HEADER1</key>
	<string>☆レシピを探そう</string>
	<key>HEADERTEXT1</key>
	<string>使用されている食材、写真、人気ランキングから、糖質オフダイエットレシピを検索することができます。気に入ったレシピは「お気に入り」に登録しておくと便利です。</string>
	<key>HEADER2</key>
	<string>☆レシピを作ろう</string>
	<key>HEADERTEXT2</key>
	<string>それぞれの糖質オフダイエットレシピの画面には「材料」「作り方」だけではなく、「効能」の説明があります。使われている食材とその組み合わせ、調理方法から、レシピにどのような「効能」があってスリムになれるかをチェックできます。さらに「糖質量」「カロ リー」「調理時間」も表示されているので、合わせてチェックすることができます。糖質オフダイエットでは、糖質量1日50g摂取を目安にして料理を作ってみてください。掲載しているレシピの糖質量は、主菜5g以下、副菜3g以下で構成されています。また、お買物に便利な材料のメール送信機能、料理には欠かせないキッチンタイマーも付いています。Twitter、Facebookへのシェア機能も搭載しました。</string>
	<key>HEADER3</key>
	<string>☆糖質オフダイエット体質診断</string>
	<key>HEADERTEXT3</key>
	<string>中医学的に見たあなたのダイエットタイプを診断します。自分の体のタイプを理解し、体に合った食材を選んでダイエットをすることを心がけましょう。</string>
	<key>HEADER4</key>
	<string>☆薬膳手帖</string>
	<key>HEADERTEXT4</key>
	<string>糖質オフダイエットのことや、ダイエットするためのポイントがわかる薬膳コラム、糖質オフダイエットにおすすめの食材や、その効能がわかる「食材辞典」、薬膳の基礎用語を知ることができる「薬膳辞典」などのコンテンツが満載です。</string>
	<key>TITLE1</key>
	<string>インフォコムの薬膳プロジェクトについて</string>
	<key>TEXT4</key>
	<string>インフォコムでは、環境・健康・安心安全をテーマとしたプロジェクトを展開しており、中医学理論に基づいた薬膳による「食から健康」をその中心として、ダイエットや美容・健康など女性の悩みを解決する薬膳レシピを、携帯サイト「体スッキリオイシイ薬膳」やスマートフォン向けアプリ「スープダイエット」、「薬膳美鍋」、「美白薬膳レシピ」、「保湿薬膳レシピ」、「冷え性薬膳レシピ」、「花粉症に効くレシピ」にて提供しています。
    
また、被災地支援活動として、岩手県陸前高田市他での薬膳炊き出しを実施するなど、今後も、食からの健康を通じた社会への貢献を目指し、様々な活動を行なってまいります。</string>
	<key>TITLE2</key>
	<string>提供</string>
	<key>TEXT5</key>
	<string>インフォコム株式会社
ネットビジネス事業本部
ネットサービス第二事業部
EHSグループ
堀　拳駄 (Chief Producer)
渋谷　美香子 (Director)
小園　さおり (Director)
塩冶　太郎 (Director)
櫻間　恵里菜 (Assistant)
朝倉　早穂 (Assistant)
九日　直美 (Technical Director)</string>
</dict>
</plist>
