<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TEXT</key>
		<string>顔が赤くなりやすい</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>暑がり</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>手足が冷えやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>疲れやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>よくニキビや吹き出物ができる</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>便秘がち</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>顔色が青白い</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>あまり暑くないのに汗をかきやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>食欲旺盛</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>口が渇きやすい</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>食欲があまりない</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>胃腸が弱い</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>声が大きい</string>
		<key>TYPE</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>下痢しやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>貧血になりやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TEXT</key>
		<string>下半身がむくみやすい</string>
		<key>TYPE</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
