<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TITLE</key>
		<string>カチカチ型の堅太りタイプ</string>
		<key>HEADER1</key>
		<string>■診断結果:</string>
		<key>TEXT1</key>
		<string>あなたはカチカチ型の堅太りタイプです。 このタイプの人は普段から活発で、食欲旺盛、がっちりした体型という傾向にあります。
そして、</string>
		<key>POINT1</key>
		<string>代謝が悪くなって余分な水分や脂肪が溜まっている状態の痰湿(たんしつ)型</string>
		<key>POINT2</key>
		<string>代謝が悪くなって余分な水分や脂肪が溜まっている状態の痰湿(たんしつ)型</string>
		<key>POINT3</key>
		<string>消化器系の働きの乱れが原因の便秘型</string>
		<key>TEXT2</key>
		<string>の3つに分けられます。

これらは、長年の食べすぎ、甘いものや脂っこいものばかりの偏食により、消化器系全体の働きである 「脾(ひ)」の機能が乱れてしまったことが大きな原因です。その結果、体に不要なものが溜まり、肥満に つながってしまっています。</string>
		<key>HEADER2</key>
		<string>■体にあらわれる症状</string>
		<key>TEXT3</key>
		<string>体の中の余分な水分や老廃物は、肥満だけでなく、他にも様々な症状を引き起こします。特にこの体質に おいては、むくみや肩こり、めまい、ニキビなどの症状があらわれます。また、体がほてりやすかった り、暑がりといった傾向もあるため、冷たいものを食べすぎる人も多くみられます。さらに、消化機 能がオーバーヒートしてしまうことで、過食になる場合もあります。</string>
		<key>HEADER3</key>
		<string>■症状改善のための対策</string>
		<key>TEXT4</key>
		<string>消化吸収をよくし、余分な水分や老廃物を排出して、その巡りをよくすることが大切です。食事も野菜中 心のさっぱりとしたものを摂るように心がけ、体の中の余分な水分や老廃物を排出する食材であるアサ リ、シジミ、冬瓜などを積極的に摂りましょう。さらに、体内に溜まっている余分な熱を冷ます食材の きゅうり、豆腐、ゴーヤなどを摂ることで、「脾(ひ)」、「胃(い)」の機能を正常にさせ、便通をよくし ましょう。代謝をよくして、体の中の余分な水分や老廃物を排出して、肥満の解消を目指しましょう。</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>ぷよぷよ型の水太りタイプ</string>
		<key>HEADER1</key>
		<string>■診断結果:</string>
		<key>TEXT1</key>
		<string>あなたはぷよぷよ型の水太りタイプです。 このタイプの人は基本的に消極的で、筋肉がしっかりついている体ではないため、比較的色白で、水太 りのようにぷよぷよっとした体型が多い傾向にあります。
そして、</string>
		<key>POINT1</key>
		<string>体のエネルギーである「気(き)」が不足している状態の気虚(ききょ)型</string>
		<key>POINT2</key>
		<string>温める力が足りず、冷えやすくなっているために代謝が悪くなっている状態の陽虚(ようきょ)型</string>
		<key>POINT3</key>
		<string>「気(き)」や「血(けつ)」の巡りが滞っていることなどが原因の水分代謝低下型</string>
		<key>TEXT2</key>
		<string>の3つに分けられます。

いずれも、体を構成する五臓のひとつである「脾(ひ)」の機能の原動力である「気(き)」や体を温める 力が不足し、水分などの代謝がうまくいかないことが原因で、余分なものが体に溜まってしまい肥 満になっています。</string>
		<key>HEADER2</key>
		<string>■体にあらわれる症状</string>
		<key>TEXT3</key>
		<string>「気(き)」が不足しているために、だるい、疲れやすい、風邪をひきやすいなどの他に、食欲がないな どの症状があらわれます。食べる量が少ないのに太ってしまうのは、「気(き)」の不足によって食べた ものをうまく消化できないために代謝が衰えるためです。また体を温める力が足りない状態の場合も同 様で、体が冷えて消化器系などの内臓の働きも弱くなり、食べたものの代謝ができず、余分なものが体 に溜まって肥満になっています。</string>
		<key>HEADER3</key>
		<string>■症状改善のための対策</string>
		<key>TEXT4</key>
		<string>不足している「気(き)」を補って、体を温め、消化機能を高める食材を選びましょう。キノコ類、大 豆、くるみや、生薬ではなつめなどの「気(き)」を補って胃腸の働きを整える食材がおすすめです。さ らに、エビ、しょうが、長ねぎ、ニラなど体を温める食材で体の冷えを改善しましょう。主食となる肉 類では、体を温める力が強い羊肉、体を元気にしながらお腹を温めてくれる鶏肉がよいでしょう。余分 なものを体から排出して、体を温め、すっきりスリムを目指しましょう。</string>
	</dict>
</array>
</plist>
