<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SECTION</key>
		<string>体を構成する基本的な要素</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>気</string>
				<key>RUBY</key>
				<string>（き）</string>
				<key>CONTENTS</key>
				<string>生命活動を支えるエネルギーのことで、「血(けつ)」や「水(すい)」を作ります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ki</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>血</string>
				<key>RUBY</key>
				<string>（けつ）</string>
				<key>CONTENTS</key>
				<string>血液とその栄養作用を指します。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ketsu</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>水</string>
				<key>RUBY</key>
				<string>（すい）</string>
				<key>CONTENTS</key>
				<string>血液以外の体の正常な水液の総称となります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_sui</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>体の中の余分なもの</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>湿</string>
				<key>RUBY</key>
				<string>（しつ）</string>
				<key>CONTENTS</key>
				<string>水分や冷たいものの摂り過ぎで溜まってしまった余分なものを指します。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_shitsu</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>痰</string>
				<key>RUBY</key>
				<string>（たん）</string>
				<key>CONTENTS</key>
				<string>水液代謝障害で生じる、「湿(しつ)」よりさらに濃くなった余分な物です。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_tan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>体の中の状態</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>胃熱</string>
				<key>RUBY</key>
				<string>（いねつ）</string>
				<key>CONTENTS</key>
				<string>胃に熱がこもってその熱がオーバーヒートし、食欲が過剰になる状態です。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_inetsu</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>化痰</string>
				<key>RUBY</key>
				<string>（かたん）</string>
				<key>CONTENTS</key>
				<string>湿気が溜まってネバネバした状態である痰を取り除くことです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ketan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>五季</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>春</string>
				<key>RUBY</key>
				<string>（立春～立夏）</string>
				<key>CONTENTS</key>
				<string>植物が芽吹くように、人も活動的になる季節です。ただ、「肝(かん)」の働きが活発になり過ぎて、イライラしたり、不眠などを起こすことがあります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_haru</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>梅雨</string>
				<key>RUBY</key>
				<string></string>
				<key>CONTENTS</key>
				<string>高い湿度によって、水分の代謝がうまくいかなくなる季節です。消化吸収系の臓器に関わる「脾(ひ)」が弱り、頭や体が重くなったりします。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_tsuyu</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>夏</string>
				<key>RUBY</key>
				<string>（立夏～立秋）</string>
				<key>CONTENTS</key>
				<string>暑さのため、体に熱がこもって体調を崩したり、汗で体の水分を失い疲れてしまう季節です。夏バテに気をつけましょう。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_natsu</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>秋</string>
				<key>RUBY</key>
				<string>（立秋～立冬）</string>
				<key>CONTENTS</key>
				<string>乾燥した空気で植物が枯れていく季節です。シミや吹き出物など、肌のトラブルが多くなります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_aki</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>冬</string>
				<key>RUBY</key>
				<string>（立冬～立春）</string>
				<key>CONTENTS</key>
				<string>寒さのため、植物も動物も活動を抑える季節です。水分代謝が悪くなり、手足が冷えたり、体が痛んだりします。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_fuyu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>食材が持っている味である五味</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>甘味</string>
				<key>RUBY</key>
				<string>（かんみ･あまみ）</string>
				<key>CONTENTS</key>
				<string>甘い味の食物のことです。滋養強壮作用があり、緊張をゆるめ、痛みを和らげる作用があります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_amami</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>辛味</string>
				<key>RUBY</key>
				<string>（からみ）</string>
				<key>CONTENTS</key>
				<string>辛い味の食物のことです。｢気(き)｣や｢血(けつ)｣の流れを促進し、発汗、発散作用があります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_karami</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>鹹味</string>
				<key>RUBY</key>
				<string>（かんみ）</string>
				<key>CONTENTS</key>
				<string>塩っぱい味の食物のことです。便秘によいとされています。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_kanmi2</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>酸味</string>
				<key>RUBY</key>
				<string>（さんみ）</string>
				<key>CONTENTS</key>
				<string>酸っぱい味の食物のことです。体を引き締め、血液浄化、解毒作用があります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_sanmi</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>苦味</string>
				<key>RUBY</key>
				<string>（にがみ）</string>
				<key>CONTENTS</key>
				<string>苦い味の食物のことです。熱を冷ましたり、余分な水分を追い出す作用があります。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_nigami</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>体の機能をつかさどるとされている五臓</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>肝</string>
				<key>RUBY</key>
				<string>（かん）</string>
				<key>CONTENTS</key>
				<string>肝臓と自律神経、中枢神経に働くとされている、五臓(ごぞう)のひとつです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_kan</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>脾</string>
				<key>RUBY</key>
				<string>（ひ）</string>
				<key>CONTENTS</key>
				<string>消化器系や運化機能、水分代謝に働くとされている、五臓(ごぞう)のひとつです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_hi</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>心</string>
				<key>RUBY</key>
				<string>（しん）</string>
				<key>CONTENTS</key>
				<string>心臓や血液循環、大脳に働くとされている、五臓（ごぞう）のひとつです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_shin</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>肺</string>
				<key>RUBY</key>
				<string>（はい）</string>
				<key>CONTENTS</key>
				<string>肺や呼吸作用、水分代謝に働くとされている、五臓(ごぞう)のひとつです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_hai</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>腎</string>
				<key>RUBY</key>
				<string>（じん）</string>
				<key>CONTENTS</key>
				<string>腎臓や生殖器官、老化現象に働くとされている、五臓(ごぞう)のひとつです。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_jin</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SECTION</key>
		<string>食材の持っている性質である五性</string>
		<key>CELL</key>
		<array>
			<dict>
				<key>TITLE</key>
				<string>平性</string>
				<key>RUBY</key>
				<string>（へいせい）</string>
				<key>CONTENTS</key>
				<string>体を温めも冷やしもしない食材です。どんな体質でも、どんな季節でもおすすめの、薬膳における中心食材です。</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_heisei</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>涼性</string>
				<key>RUBY</key>
				<string>（りょうせい）</string>
				<key>CONTENTS</key>
				<string>体を冷やす作用のある食材です｡やや熱系の体質の方、季節では梅雨や夏におすすめの食材です｡</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_ryosei</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>寒性</string>
				<key>RUBY</key>
				<string>（かんせい）</string>
				<key>CONTENTS</key>
				<string>熱を強力に取り除き､体を強く冷やす作用のある食材です｡熱系の体質の方、季節では夏におすすめの食材です｡</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_kansei</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>温性</string>
				<key>RUBY</key>
				<string>（おんせい）</string>
				<key>CONTENTS</key>
				<string>体を温める作用のある食材です｡やや冷え系の体質の方、季節では秋におすすめの食材です｡</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_onsei</string>
			</dict>
			<dict>
				<key>TITLE</key>
				<string>熱性</string>
				<key>RUBY</key>
				<string>（ねっせい）</string>
				<key>CONTENTS</key>
				<string>体を強く温める作用のある食材です｡冷え系の体質の方、季節では冬におすすめの食材です｡</string>
				<key>NAV_BAR_TITLE</key>
				<string>nav_bar_nessei</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
