<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>糖質ｵﾌﾀﾞｲｴｯﾄ</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>iTunesArtwork.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>jp.co.infocom.201203lowcarb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>薬膳糖質</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>jp.co.infocom.lowcarb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lowcarb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
</dict>
</plist>
